.player{
    background-color: #242629;
    height: 12vh !important;
}

.musicPlayerIcon{
    color:#7f5af0;
    font-size: 48px;

    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}


.musicBox{
margin-bottom: 0px !important;
}
.musicRepeatIcon{
    color:#7f5af0;
    font-size: 30px;
position: relative;
left: 1.5%;
bottom:7px;
font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.playerStats{
    color: #94a1b2;

}
.Me{
    color:#2cb67d;
    margin-top:10px;
    height: 45px !important;
}


.sP{margin-bottom: 10px;}
.name{
    font-size: 1.3em;
    font-weight: 600;
   line-height: 1.3em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-bottom: 0.4rem;
}

.statsSmall{
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.15em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;


}
.buttons{ height: 30px !important;
}
.Bar{
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    background: rgba(127, 90, 240, 0.5  );
  min-width: 100%;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    background: #7f5af0;
    cursor: pointer;
    border-radius: 50%; 
  }

  @media only screen and (max-width:576px) {
    .name {
        font-size: 0.9rem;
        font-weight: 500;
        line-height: 1.2em;
  

    }
   .playerBox{
       margin-right: 10px !important;
       text-align: right;
       margin-top: -10px;
   }
   
    .musicBox{
margin-left: 10px !important;     
margin-bottom: -100px !important;   }
   
    .h5{
      font-size: 0.9rem;
    }

    .musicRepeatIcon{
        color:#7f5af0;
        font-size: 25px;
    position: relative;
    left: 1.5%;
    bottom:10px;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .musicPlayerIcon{
        color:#7f5af0;
        font-size: 40px;
    
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
    .Me{
        color:#2cb67d;
        margin-top:25px;
        font-size:0.7rem;

    }
  
    }
    
    